<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1294">
    <div class="cs-container">       
        <!-- Subscribe Form -->
        <div id="cta-1294">
            <div class="cs-content">
                <h2 class="cs-title">In nur 4 Wochen zur individuell gestalteten, Google-optimierten Seite</h2>
                <a href="/kontakt" class="cs-button-12">
                    Jetzt starten
                    <picture class="cs-button-wrapper">
                        <img class="cs-button-icon" src="/assets/svgs/angle-arrow.svg" alt="icon" loading="lazy" decoding="async" width="28" height="28">
                    </picture>
                </a>
            </div>
            <!--Background Image-->
            <picture class="cs-background">
                <source media="(max-width: 600px)" srcset="/assets/svgs/cta-waves.svg">
                <source media="(min-width: 601px)" srcset="/assets/svgs/cta-waves-t.svg">
                <img loading="lazy" decoding="async" src="/assets/svgs/cta-waves-t.svg" alt="waves" width="1280" height="278" aria-hidden="true">
            </picture>
        </div>                
        <div class="cs-wrapper">
            <!-- Logo Group -->
            <div class="cs-logo-group">
                <a aria-label="go back to home" class="cs-logo" href="">
                    <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/logo-white.svg" alt="logo" width="240" height="32">
                </a>
                <p class="cs-text">
                    Ihr Partner in Österreich für beeindruckende Weblösungen. Maßgeschneidert. Leistungsstark. Fair.
                </p>
                <a href="mailto:hallo@cosmo-digital.at" class="cs-link">
                    <img class="cs-link-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/thick-mail.svg" alt="icon" width="24" height="24">
                    hallo@cosmo-digital.at
                </a>
            </div>
            <!--  -->
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">Menü</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Start</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Über uns</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Preise</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Häufig gestellte Fragen</a>
                </li>
            </ul>
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">Folge uns</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Facebook</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Instagram</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">LinkedIn</a>
                </li>
            </ul>
            <ul class="cs-nav">
                <li class="cs-nav-li">
                    <span class="cs-header">Hilfe</span>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Häufig gestellte Fragen</a>
                </li>
                <li class="cs-nav-li">
                    <a class="cs-nav-link" href="">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="cs-bottom">
        <span class="cs-copyright">Copyright © {% year %}. 
            <a class="cs-copyright-link" href="/">Cosmo Digital.</a>
            Alle Rechte vorbehalten.
        </span>
        <a href="/impressum" class="cs-copyright-link">Impressum</a>
        <a href="/datenschutzerklaerung" class="cs-copyright-link">Datenschutzerklärung</a>
    </div>
    <!--Floating Cirlces-->
    <div class="cs-floater-wrapper">
        <div class="cs-floater" aria-hidden="true"></div>
    </div>
</footer>
                                