<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="cs-navigation">
    <div class="cs-top-bar">
        <div class="cs-top-container">
            <div class="cs-top-contact">
                <a href="mailto:hallo@cosmo-digital.at" class="cs-top-link">
                    <img class="cs-link-icon" src="/assets/svgs/email.svg" alt="logo" width="16" height="16" aria-hidden="true" decoding="async">
                    E-Mail senden
                </a>
                <a href="tel:+436764640937" class="cs-top-link">
                    <img class="cs-link-icon" src="/assets/svgs/phone.svg" alt="logo" width="16" height="16" aria-hidden="true" decoding="async">
                    +43 676 46 40 937
                </a>
                <a href="/kontakt" class="cs-top-link">
                    <img class="cs-link-icon" src="/assets/svgs/clock.svg" alt="logo" width="20" height="20" aria-hidden="true" decoding="async">
                    Mo-Fr: 8-16 Uhr
                </a>
            </div>
            <div class="cs-top-social">
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="/assets/svgs/fb.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
                <a href="" class="cs-social-link">
                    <img class="cs-social-icon" src="/assets/svgs/insta.svg" alt="logo" width="12" height="12" aria-hidden="true" decoding="async">
                </a>
            </div>
        </div>
    </div>
    <div class="cs-container">
        <!--Nav Logo-->
        <a href="/" class="cs-logo" aria-label="back to home">
            <img src="/assets/images/logo-white.svg" alt="logo" width="78" height="77" aria-hidden="true" decoding="async">
        </a>
        <!--Navigation List-->
        <nav class="cs-nav" role="navigation">
            <!--Mobile Nav Toggle-->
            <button class="cs-toggle" aria-label="mobile menu toggle">
                <div class="cs-box" aria-hidden="true">
                    <span class="cs-line cs-line1" aria-hidden="true"></span>
                    <span class="cs-line cs-line2" aria-hidden="true"></span>
                    <span class="cs-line cs-line3" aria-hidden="true"></span>
                </div>
            </button>
            <!-- We need a wrapper div so we can set a fixed height on the cs-ul in case the nav list gets too long from too many dropdowns being opened and needs to have an overflow scroll. This wrapper acts as the background so it can go the full height of the screen and not cut off any overflowing nav items while the cs-ul stops short of the bottom of the screen, which keeps all nav items in view no matter how mnay there are-->
            <div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == '/' %} cs-active {% endif %}" title="Zur Startseite">
                            Start
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/ueber-uns" class="cs-li-link {% if page.url == '/ueber-uns/' %} cs-active {% endif %}">
                            Über uns
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/preise" class="cs-li-link {% if page.url == '/preise/' %} cs-active {% endif %}">
                            Preise
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/faq" class="cs-li-link {% if page.url == '/faq/' %} cs-active {% endif %}">
                            Häufig gestellte Fragen
                        </a>
                    </li>
                    <li>
                        <a href="/kontakt" class="cs-li-link {% if page.url == '/kontakt/' %} cs-active {% endif %}" title="Zur Kontaktseite">
                            Kontakt
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <a href="{{ client.calendlyLink }}" class="cs-button-12">
            Erstgespräch buchen
            <picture class="cs-button-wrapper">
                <img class="cs-button-icon" src="/assets/svgs/calendar.svg" alt="icon" loading="lazy" decoding="async" width="28" height="28">
            </picture>
        </a>
    </div>
</header>