---
title: "Preise | Cosmo Digital"
description: "Auf dieser Seite finden Sie eine Übersicht der verfügbaren Dienstleistungen und Tarife."
preloadImg: "/assets/images/typing_on_laptop.png"
permalink: "preise/"
eleventyNavigation:
    key: Preise
    order: 3100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/preise.css"/>
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                   Banner                     -->
    <!-- ============================================ -->

    <div id="banner-1106-1112">
        <div class="cs-container">
            <span class="cs-int-title">Preise</span>
            <div class="cs-breadcrumbs">
                <a href="/" class="cs-link">Start</a>
                <a href="/preise" class="cs-link cs-active">Preise</a>
            </div>
        </div>
        <!--Background Image-->
        <picture class="cs-background">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/typing_on_laptop.png"> <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg -->
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/typing_on_laptop.png"> <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg -->
            <img decoding="async" src="/assets/images/typing_on_laptop.png" alt="mechanic" width="1280" height="568" aria-hidden="true"> <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-20.jpg -->
        </picture>
    </div>

    <!-- ============================================ -->
    <!--                   Pricing                    -->
    <!-- ============================================ -->
    <section id="pricing-1260">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Preisliste</span>
                <h2 class="cs-title">Faire Preise ohne versteckte Kosten</h2>
                <p class="cs-text">
                    Unsere Preise sind klar und transparent. Sie gehen bei uns weder Wartungsverträge noch langfristige Bindungen ein. Nach Projektabschluss gehören Ihnen sämtliche Rechte an der Website – Sie bleiben vollkommen unabhängig.
                    <br/><br/>
                    <b>Geld-zurück-Garantie:</b> Sollten Sie trotz mehrerer Überarbeitungen mit dem Design nicht zufrieden sein, übernehmen wir die Verantwortung. In diesem Fall erstatten wir Ihnen die Anzahlung vollständig zurück.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-picture-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/monitor.svg" alt="checkmark" width="44" height="44">
                    </picture>
                    <span class="cs-package">Webseiten-Paket für KMUs</span>
                    <span class="cs-price">
                    € 3.600
                    <span class="cs-duration">Einmalzahlung</span>
                    </span>
                    <p class="cs-item-text">
                    Eine für Ihr Unternehmen individuell gestaltete, hochperformante Webseite.
                </p>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                        Planung, Design & Entwicklung
                    </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                        5 Seiten (danach +120€/Seite)
                    </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                        +250€ für einen Blog
                    </li>
                    </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                        PageSpeed Score mind. 98/100
                    </li>
                    </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                        Responsives Design (Handy, Tablet, Desktop)
                    </li>
                    </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                        Einrichtung von Google Business und Google Search Console
                    </li>
                    </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                        Grundlegende Suchmaschinenoptimierung
                    </li>
                    </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                        Geld-zurück Garantie (Designphase)
                    </li>
                    </ul>
                    <a href="/kontakt" class="cs-button-12">
                        Jetzt starten
                        <picture class="cs-button-wrapper">
                            <img class="cs-button-icon" src="/assets/svgs/angle-arrow.svg" alt="icon" loading="lazy" decoding="async" width="28" height="28">
                        </picture>
                    </a>
                </li>
                <li class="cs-item cs-popular">
                    <span class="cs-popular-tag">Empfohlen</span>
                    <picture class="cs-picture">
                        <img class="cs-picture-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/server-primary-light.svg" alt="checkmark" width="44" height="44">
                    </picture>
                    <span class="cs-package">CosmoHosting</span>
                    <span class="cs-price">
                    € 15
                    <span class="cs-duration">/Monat</span>
                    </span>
                    <p class="cs-item-text">
                    Unser zuverlässiges, blitzschnelles Hosting ist das perfekte Zuhause für Ihre neue Webseite.
                </p>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary-light.svg" alt="checkmark" width="18" height="18">
                        Blitzschnelle Ladezeiten
                    </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary-light.svg" alt="checkmark" width="18" height="18">
                        mind. 99,99% Verfügbarkeit
                    </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary-light.svg" alt="checkmark" width="18" height="18">
                        inkl. Backups
                    </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--Bubble Groups-->
        <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
        <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
    </section>
{% endblock %}