---
title: "Beeindruckende Webseiten für KMUs | Cosmo Digital | Ternitz, Niederösterreich"
description: "Meta description for the page"
preloadImg: "/assets/images/landing.jpg"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
    key: Home
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- JSON Schema Markup -->
    <!-- prettier-ignore-start -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
    <!-- prettier-ignore-end -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1349">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Für KMUs und Selbstständige</span>
                <h1 class="cs-title">Beeindruckende Webseiten, die abliefern</h1>
                <p class="cs-text">
                    Eine professionelle Online-Präsenz ist heutzutage unerlässlich. Wir planen, entwerfen und programmieren jede Webseite individuell. Das gewährleistet höchste Sicherheit, unschlagbare Ladezeiten und minimalen Wartungsaufwand. Oder kurz gesagt: Einen massiven Vorsprung gegenüber Ihrer Konkurrenz. 
                    <br/><br/>
                    Und Sie können sich auf das konzentrieren, was wirklich zählt: Ihr Geschäft.
                </p>
                <a href="/kontakt" class="cs-button-12">
                    Jetzt starten
                    <picture class="cs-button-wrapper">
                        <img class="cs-button-icon" src="/assets/svgs/angle-arrow.svg" alt="icon" loading="lazy" decoding="async" width="28" height="28">
                    </picture>
                </a>
            </div>
        </div>

        <!-- Rotated Text -->
        <div class="cs-rotated-text">Wir rücken Sie ins beste Licht!</div>

        <!--Bubble Groups-->
        <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
        <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
        <!-- Background Image, background image added in the css at 1600px for parallax effect -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="/assets/images/hero_h2500.jpg">
            <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer-t.jpg -->
            <source media="(min-width: 601px)" srcset="/assets/images/hero_h2500.jpg">
            <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/on-computer.jpg -->
            <img decoding="async" src="/assets/images/hero_h2500.jpg" alt="web designer" width="2250" height="1500" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                    Banner                    -->
    <!-- ============================================ -->

    <section class="banner">
        <div class="cs-container">
            Maßgeschneidert. Leistungsstark. Fair.
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="services-1191">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Unsere Leistungen</span>
                <h2 class="cs-title">Das Rundum-sorglos-Paket für Ihren Webauftritt</h2>
                <p class="cs-text">
                    Eine Webseite ist heute mehr als nur eine digitale Visitenkarte: Sie ist das Aushängeschild Ihres Unternehmens – Ihr unermüdlicher Vertriebsprofi, der rund um die Uhr Ihre Leistungen perfekt präsentiert. Und bevor all das ins Spiel kommt, sorgt sie dafür, dass Sie in Suchmaschinen sichtbar werden und Ihre Zielgruppe Sie findet.
                    <br/><br/>
                    Wir entwerfen Ihre neue Webseite speziell für Ihre Zielgruppe, entwickeln Sie per Hand ohne Baukasten-Systeme, und optimieren Sie für branchenführende Performance. Das Ergebnis? Eine Webseite, die bei Google glänzt, Ihre Kunden überzeugt und Ihnen langfristig Erfolg bringt.
                </p>
            </div>
            <!--Placed in a wrapper div so we can position the car absolutely inside the container to be centered in the middle of the list on desktop-->
            <div class="cs-wrapper">
                <!--Car-->
                <picture class="cs-image">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/box.png">
                    <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/nice-car.png -->
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/box.png">
                    <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/nice-car.png -->
                    <img loading="lazy" decoding="async" src="/assets/images/box.png" alt="car" width="510" height="193" aria-hidden="true">
                    <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/nice-car.png -->
                </picture>
                <ul class="cs-card-group">
                    <li class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon"
                                src="/assets/svgs/gauge.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Branchenführende Performance</h3>
                            <p class="cs-item-text">
                                Wir garantieren einen Google PageSpeed Score von mind. 98/100 Punkten mit jeder Webseite, die wir erstellen.
                                <br/>
                                <!--<a href="#">Warum ist das wichtig?</a>-->
                            </p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon"
                                src="/assets/svgs/moneybag.svg" loading="lazy"
                                decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Geld-zurück Garantie</h3>
                            <p class="cs-item-text">Sollte Sie unser Design auch nach mehreren Anläufen nicht zusagen, erhalten Sie Ihre Anzahlung zurück - ohne wenn und aber.</p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="/assets/svgs/server.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Blitzschnelles Hosting mit 99,99% Verfügbarkeit</h3>
                            <p class="cs-item-text">Mit dem optional verfügbaren CosmoHosting steht Ihre Seite auf stabilen Beinen. Inklusive Backups.</p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon"
                                src="/assets/svgs/pen-writing.svg" loading="lazy"
                                decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Faire & transparente Preise</h3>
                            <p class="cs-item-text">Niemand mag versteckte Kosten. Durch den minimalen Wartungsaufwand sparen Sie Monat zu Monat ein.</p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon"
                                src="/assets/svgs/monitor.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">Individuelles, responsives Design</h3>
                            <p class="cs-item-text">Selbstverständlich sieht Ihre Seite sowohl am PC, am Handy und auch auf Tablets hervorragend aus.</p>
                        </div>
                    </li>
                    <li class="cs-item">
                        <picture class="cs-picture">
                            <img class="cs-icon"
                                src="/assets/svgs/law.svg"
                                loading="lazy" decoding="async" alt="icon" width="33" height="38" aria-hidden="true">
                        </picture>
                        <!-- Text Grouped For Flexbox-->
                        <div class="cs-text-group">
                            <h3 class="cs-h3">DSGVO konform</h3>
                            <p class="cs-item-text">Überlassen Sie Datenschutz nicht dem Zufall! Webseiten von Cosmo sind erfüllen alle rechtlichen Anforderungen der DSGVO, ohne zu nerven.</p>
                        </div>
                    </li>
                </ul>
            </div>

            <a href="/kontakt" class="cs-button-12">
                    Jetzt starten
                    <picture class="cs-button-wrapper">
                    <img class="cs-button-icon" src="/assets/svgs/angle-arrow.svg" alt="icon" loading="lazy" decoding="async" width="28" height="28">
                </picture>
            </a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                Why Choose Us                 -->
    <!-- ============================================ -->
    <section id="why-choose-1630">
        <div class="cs-container">
            <div class="cs-flex">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/laptop_typing.png">
                    <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting-8.jpg -->
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/laptop_typing.png">
                    <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting-8.jpg -->
                    <img loading="lazy" decoding="async" src="/assets/images/laptop_typing.png" alt="therapy" width="608" height="400">
                    <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting-8.jpg -->
                </picture>
                <div class="cs-content">
                    <span class="cs-topper">Vorteile</span>
                    <h2 class="cs-title">Die perfekte Basis für Ihren Erfolg</h2>
                    <p class="cs-text">
                        Einmal investiert, hilft Ihnen eine professionelle, auf Ihre Zielgruppe zugeschnittene Webseite, den Fluss an neuen Kundenanfragen nicht abreißen zu lassen. Es handelt sich also um eine Investition, die sich schon innerhalb kürzester Zeit bezahlt macht.
                        <br/><br/>
                        Wir setzen nicht auf Baukasten-Systeme wie WordPress oder Wix, bei welchen laufend neue Sicherheitslücken entdeckt werden und dementsprechend viel Wartung notwendig ist. Unsere von Hand programmierten Webseiten mit branchenführender Performance benötigen keine Updates und erfüllen auch nach mehreren Jahren Ihren Zweck hervorragend. 
                    </p>

                    <a href="/kontakt" class="cs-button-12">
                            Jetzt starten
                            <picture class="cs-button-wrapper">
                            <img class="cs-button-icon" src="/assets/svgs/angle-arrow.svg" alt="icon" loading="lazy" decoding="async" width="28" height="28">
                        </picture>
                    </a>
                </div>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-wrapper">
                            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/moneybag.svg" alt="icon" width="24" height="24">
                        </picture>
                    Verkaufsorientiert
                </h3>
                    <p class="cs-item-text">
                    Mehr Kundenanfragen erhalten, Termine online buchen, Mitarbeiter finden: Im Zentrum des Designs steht Ihr tatsächliches Ziel. Wir nutzen eine Mischung aus bewährten Fragebögen und dem persönlichen, individuellen Zugang, um Ihren Ansprüchen gerecht zu werden.
                </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-wrapper">
                            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/accesibility.svg" alt="icon" width="28" height="28">
                        </picture>
                    Barrierefrei
                </h3>
                    <p class="cs-item-text">
                    Die Barrierefreiheit einer Webseite ist ein grundlegendes Qualitätsmerkmal. Nicht nur ermöglichen Sie auch Personen mit Einschränkungen (z.B. Sehschwäche), Ihr Angebot in Anspruch zu nehmen - auch bei Suchmaschinen (z.B. Google) wird eine barrierefreie Webseite besser bewertet. Eine Win-Win-Situation!
                </p>
                </li>
                <li class="cs-item">
                    <h3 class="cs-h3">
                        <picture class="cs-wrapper">
                            <img class="cs-h3-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/law.svg" alt="icon" width="24" height="24">
                        </picture>
                    DSGVO-konform
                </h3>
                    <p class="cs-item-text">
                    Wer Datenschutz dem Zufall überlässt, riskiert empfindliche Strafzahlungen und setzt das Vertrauen möglicher Kunden auf´s Spiel. Vertrauen Sie lieber dem Profi: Webseiten von Cosmo erfüllen alle rechtlichen Anforderungen der DSGVO, ohne zu nerven.
                </p>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Pricing                    -->
    <!-- ============================================ -->
    <section id="pricing-1260">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Preisliste</span>
                <h2 class="cs-title">Faire Preise ohne versteckte Kosten</h2>
                <p class="cs-text">
                    Unsere Preise sind klar und transparent. Sie gehen bei uns weder Wartungsverträge noch langfristige Bindungen ein. Nach Projektabschluss gehören Ihnen sämtliche Rechte an der Website – Sie bleiben vollkommen unabhängig.
                    <br/><br/>
                    <b>Geld-zurück-Garantie:</b> Sollten Sie trotz mehrerer Überarbeitungen mit dem Design nicht zufrieden sein, übernehmen wir die Verantwortung. In diesem Fall erstatten wir Ihnen die Anzahlung vollständig zurück.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <img class="cs-picture-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/monitor.svg" alt="checkmark" width="44" height="44">
                    </picture>
                    <span class="cs-package">Webseiten-Paket für KMUs</span>
                    <span class="cs-price">
                        € 3.600
                        <span class="cs-duration">Einmalzahlung</span>
                    </span>
                    <p class="cs-item-text">
                        Eine für Ihr Unternehmen individuell gestaltete, hochperformante Webseite.
                    </p>
                    <ul class="cs-ul">
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                            Planung, Design & Entwicklung
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                            5 Seiten (danach +120€/Seite)
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                            +250€ für einen Blog
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                            PageSpeed Score mind. 98/100
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                            Responsives Design (Handy, Tablet, Desktop)
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                            Einrichtung von Google Business und Google Search Console
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                                Grundlegende Suchmaschinenoptimierung
                        </li>
                        <li class="cs-li">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary.svg" alt="checkmark" width="18" height="18">
                            Geld-zurück Garantie (Designphase)
                        </li>
                    </ul>
                    <a href="/kontakt" class="cs-button-12">
                        Jetzt starten
                        <picture class="cs-button-wrapper">
                            <img class="cs-button-icon" src="/assets/svgs/angle-arrow.svg" alt="icon" loading="lazy" decoding="async" width="28" height="28">
                        </picture>
                    </a>
                </li>
                <li class="cs-item cs-popular">
                    <span class="cs-popular-tag">Empfohlen</span>
                    <picture class="cs-picture">
                        <img class="cs-picture-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/server-primary-light.svg" alt="checkmark" width="44" height="44">
                    </picture>
                    <span class="cs-package">CosmoHosting</span>
                    <span class="cs-price">
                    € 15
                    <span class="cs-duration">/Monat</span>
                    </span>
                    <p class="cs-item-text">
                        Unser zuverlässiges, blitzschnelles Hosting ist das perfekte Zuhause für Ihre neue Webseite.
                    </p>
                    <ul class="cs-ul">
                        <li class="cs-li">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary-light.svg" alt="checkmark" width="18" height="18">
                            Blitzschnelle Ladezeiten
                        </li>
                        <li class="cs-li">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary-light.svg" alt="checkmark" width="18" height="18">
                            mind. 99,99% Verfügbarkeit
                        </li>
                        <li class="cs-li">
                                <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/round-check-primary-light.svg" alt="checkmark" width="18" height="18">
                            inkl. Backups
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <!--Bubble Groups-->
        <div class="cs-bubbles cs-bubbles1" aria-hidden="true"></div>
        <div class="cs-bubbles cs-bubbles2" aria-hidden="true"></div>
    </section>

    <!-- ============================================ -->
    <!--                     FAQ                      -->
    <!-- ============================================ -->
    <section id="faq-1458">
        <div class="cs-container">
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/beratung_sw.png">
                    <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/environment-slogan.png -->
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/beratung_sw.png">
                    <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/environment-slogan.png -->
                    <img loading="lazy" decoding="async" src="/assets/images/beratung_sw.png" alt="body shop" width="522" height="609" aria-hidden="true">
                    <!-- https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/environment-slogan.png -->
                </picture>
            </div>
            <div class="cs-content">
                <span class="cs-topper">Wissenwertes</span>
                <h2 class="cs-title">Häufig gestellte Fragen</h2>
                <ul class="cs-faq-group">
                    <!-- Active class added as default -->
                    <li class="cs-faq-item active">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Was passiert, wenn mir das Design nicht gefällt?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Brauche ich bereits ein Logo, Visitenkarten, oder ähnliches?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Wie könnt Ihr eine von Hand programmierte, individuell gestaltete Webseite zu diesem Preis anbieten?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Warum verwendet ihr keine Baukastensysteme wie z.B. Wordpress oder Wix?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                    <li class="cs-faq-item">
                        <button class="cs-button">
                            <span class="cs-button-text">
                                Kann auch ein Blog integriert werden?
                            </span>
                        </button>
                        <p class="cs-item-p">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                        </p>
                    </li>
                </ul>
                <a href="/faq" class="cs-button-solid">Alle FAQs anzeigen</a>
            </div>
        </div>
    </section>
{% endblock %}