/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    @keyframes floatAnimation {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-2rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes floatAnimation2 {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-3rem);
        }
        100% {
            transform: translateY(0);
        }
    }

    #hero-1349 {
        box-sizing: border-box;
        /* 250px - 500px - leaving extra space for the navigation */
        padding: clamp(.625rem, 8.95vw, 25rem) calc(16/16 * 1rem) 0;
        /* 200px - 250px */
        padding-bottom: clamp(12.5rem, 16.5vw, 15.625rem);
        overflow: hidden;
        position: relative;
        background-color: var(--primary);
        z-index: 1;
        margin-top: 139px;
        max-height: 90vh;

        .cs-container {
            width: 100%;
            max-width: calc(1280/16 * 1rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .cs-content {
            position: relative;
            text-align: center;
            width: 100%;
            max-width: calc(630/16 * 1rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-content::before {
            content: '';
            position: absolute;
            top: -2rem; /* Align to top of the parent container */
            left: -2rem; /* Extend slightly beyond the left of the container */
            bottom: -2rem; /* Align to bottom of the parent container */
            right: -100vw; /* Stretch to the right edge of the viewport */
            background-color: rgba(0, 0, 0, 0.5); /* Half-transparent black */
            z-index: -1; /* Place it behind the content */
            border-radius: 16px; /* Optional: Add rounded corners */
        }

        .cs-topper {
            font-size: var(-topperFontSize);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            margin-bottom: calc(8/16 * 1rem);
            color: #e8e8e8;
            display: block;
        }

        .cs-title {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 3.4vw, 3.2125rem);
            font-weight: 700;
            line-height: 1.1em;
            text-align: inherit;
            max-width: 20ch;
            margin: 0 0 calc(16/16 * 1rem) 0;
            color: #fff;
            position: relative;
        }

        .cs-text {
            font-size: calc(20/16 * 1rem);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            /* 464px - 622px */
            max-width: clamp(29rem, 60vw, 38.785rem);
            margin: 0 0 calc(28/16 * 1rem) 0;
            color: #e8e8e8;
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            font-weight: 700;
            line-height: calc(56/16 * 1rem);
            text-decoration: none;
            margin: 0;
            padding: 0 calc(48/16 * 1rem);
            background-color: var(--primary);
            overflow: hidden;
            color: #fff;
            border-radius: calc(30/16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #fff;
                opacity: 1;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary);
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-bubbles {
            /* this scales the children inside of it down. They're all in ems so they pull from the parent font size for their value of em, in this case, the value of em is tied to the viewwidth size and stops growing when the font size is equal to 1em, which it pulls from the nearst parent with a declred font size (which is the html tag, and that tag is 16px by default) */
            font-size: min(2vw, .5em);
            position: absolute;
            z-index: -2;
        }

        .cs-bubbles1 {
            width: calc(680/16 * 1em);
            height: calc(724/16 * 1em);
            /* changes to 172 at large desktop */
            top: 0;
            right: calc(-190/16 * 1rem);

            &:before {
                /* white border bubble */
                content: "";
                width: calc(622/16 * 1em);
                height: calc(622/16 * 1em);
                background: transparent;
                opacity: 1;
                border: 1px solid #fff;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                animation-name: floatAnimation;
                animation-duration: 7s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }

            &:after {
                /* orange bubble */
                content: "";
                width: calc(546/16 * 1em);
                height: calc(546/16 * 1em);
                background: var(--primary);
                opacity: 0.8;
                border-radius: 50%;
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: -1;
                animation-name: floatAnimation2;
                animation-duration: 10s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }
        }

        .cs-bubbles2 {
            width: calc(330/16 * 1rem);
            height: calc(476/16 * 1rem);
            /* removed at larger desktop */
            bottom: calc(-260/16 * 1rem);
            /* changes to 160px at larger desktop */
            left: calc(-220/16 * 1rem);

            &:before {
                /* white border bubble */
                content: "";
                width: calc(330/16 * 1rem);
                height: calc(330/16 * 1rem);
                background: transparent;
                opacity: 1;
                border: 1px solid #fff;
                border-radius: 50%;
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                animation-name: floatAnimation;
                animation-duration: 5s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }

            &:after {
                /* orange bubble */
                content: "";
                width: calc(260/16 * 1rem);
                height: calc(260/16 * 1rem);
                background: var(--primary);
                opacity: 0.8;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 0;
                right: calc(40/16 * 1rem);
                z-index: -1;
                animation-name: floatAnimation2;
                animation-duration: 14s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }
        }

        .cs-rotated-text {
            position: absolute;
            top: 25%; /* Adjust the top position as needed */
            left: 12vw;
            font-family: "Bradley Hand", sans-serif; /* Replace with a handwritten font */
            font-size: 1.5rem; /* Adjust the font size */
            color: white;
            transform: rotate(-20deg); /* Rotate the text */
            z-index: 1;
            max-width: 170px;
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -3;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* makes the top of the image start at the top of the parent */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #hero-1349 {
        .cs-rotated-text {
            display: none;
        }

        .cs-container {
            align-items: flex-end;
        }

        .cs-content {
            text-align: left;
            align-items: flex-start;
        }

        .cs-bubbles {
            font-size: 1em;
        }

        .cs-bubbles1 {
            /* changes to auto at large desktop */
            right: calc(-428/16 * 1rem);
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #hero-1349 {
        .cs-rotated-text {
            display: block;
            left: 4vw;
        }

        .cs-bubbles1 {
            /* 200px - 550px */
            margin-left: clamp(12.5rem, 32vw, 34.375rem);
            top: calc(172/16 * 1rem);
            right: auto;
            left: 50%;
        }
    }
}

/* Larger Desktop - 1800px */
@media only screen and (min-width: 112.5rem) {
    #hero-1349 {
        .cs-rotated-text {
            left: 12vw;
        }

        .cs-bubbles2 {
            margin-right: calc(800/16 * 1rem);
            top: calc(210/16 * 1rem);
            right: 50%;
            bottom: auto;
            left: auto;
        }
    }
}
                            
/*-- -------------------------- -->
<---           Banner           -->
<--- -------------------------- -*/

.banner {
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    text-align: center;
    padding: 1rem 0;
    font-size: 1.25rem;
}