/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-1260 {
        @keyframes floatAnimation {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-2rem);
            }

            100% {
                transform: translateY(0);
            }
        }

        @keyframes floatAnimation2 {
            0% {
                transform: translateY(0);
            }

            50% {
                transform: translateY(-3rem);
            }

            100% {
                transform: translateY(0);
            }
        }

        padding: var(--sectionPadding);
        padding-bottom: 15rem;
        /* clips svg graphic from overflowing the section */
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-button-12 {
            justify-content: space-between;
        }

        .cs-topper {
            color: var(--primary);
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550/16 * 1em);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px, changes to 20px at large desktop */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            color: white;
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(643/16 * 1rem);
            margin-right: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16/16 * 1rem);

            &:last-of-type {
                margin-bottom: calc(32/16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16/16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150/16 * 1rem);
            padding: 0 calc(24/16 * 1rem);
            background-color: var(--primary);
            overflow: hidden;
            border-radius: calc(4/16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            margin: 0;
            padding: calc(24/16 * 1rem) calc(24/16 * 1rem);
            background-color: #fff;
            border: 1px solid #dad9e3;
            border-radius: calc(24/16 * 1rem) 0 0 0;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            position: relative;
            z-index: 1;

            &.cs-popular {
                background-color: #14142b;
                border-radius: 0 0 calc(24/16 * 1rem) 0;
                border: none;

                .cs-popular-tag {
                    display: inline-flex;
                }

                .cs-package,
                .cs-price,
                .cs-duration,
                .cs-item-text,
                .cs-li {
                    color: var(--bodyTextColorWhite);
                }

                .cs-item-text,
                .cs-li {
                    opacity: 0.8;
                }

                .cs-icon {
                    filter: none;
                    opacity: 1;
                }

                .cs-button-transparent {
                    background-color: var(--primary);
                    color: var(--bodyTextColorWhite);
                    border: none;
                    transition: color 0.3s;

                    &:before {
                        background-color: #fff;
                    }

                    &:hover {
                        color: var(--primary);
                    }
                }
            }
        }

        .cs-popular-tag {
            font-size: calc(14/16 * 1rem);
            line-height: 1.2em;
            text-align: center;
            width: auto;
            margin: 0;
            padding: calc(4/16 * 1rem) calc(12/16 * 1rem);
            box-sizing: border-box;
            color: white;
            overflow: hidden;
            border-radius: calc(4/16 * 1rem);
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            /* same as cs-item padding top */
            top: calc(24/16 * 1rem);
            right: calc(24/16 * 1rem);
            z-index: 1;

            &:before {
                /* background color overlay */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--green);
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-picture {
            width: calc(76/16 * 1rem);
            height: calc(76/16 * 1rem);
            margin-bottom: calc(24/16 * 1rem);
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &:before {
                /* background color */
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0.2;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .cs-package {
            font-size: calc(20/16 * 1rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            margin: 0 0 calc(8/16 * 1rem) 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-price {
            font-size: calc(39/16 * 1rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 900;
            margin: 0 0 calc(12/16 * 1rem);
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8/16 * 1rem);
        }

        .cs-duration {
            font-size: calc(14/16 * 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            text-align: inherit;
            margin: 0 0 calc(32/16 * 1rem);
            color: var(--bodyTextColor);
        }

        .cs-ul {
            margin: 0 0 calc(32/16 * 1rem);
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(8/16 * 1rem);
        }

        .cs-li {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            /* push everything to the top so if the li goes to two lines the icon stays at the top */
            align-items: flex-start;
            gap: calc(8/16 * 1rem);

            &.cs-disabled {
                opacity: 0.5;

                .cs-icon {
                    filter: grayscale(1) brightness(300%);
                }
            }
        }

        .cs-icon {
            width: calc(24/16 * 1rem);
            height: auto;
            display: block;
        }

        .button-solid {
            width: 100%;
        }

        .cs-button-transparent {
            font-size: calc(16/16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--primary);
            min-width: calc(150/16 * 1rem);
            padding: 0 calc(24/16 * 1rem);
            background-color: transparent;
            border: 1px solid var(--primary);
            border-radius: calc(4/16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            transition:
                color 0.3s,
                border-color 0.3s,
                background-color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4/16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                border-color: #000;
                background-color: #000;

                &:before {
                    width: 100%;
                }
            }
        }

        .cs-waves-wrapper {
            width: 100vw;
            height: 60%;
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-bubbles {
            /* this scales the children inside of it down. They're all in ems so they pull from the parent font size for their value of em, in this case, the value of em is tied to the viewwidth size and stops growing when the font size is equal to 1em, which it pulls from the nearst parent with a declred font size (which is the html tag, and that tag is 16px by default) */
            font-size: min(2vw, .5em);
            position: absolute;
            z-index: -2;
        }

        .cs-bubbles1 {
            width: calc(680/16 * 1em);
            height: calc(724/16 * 1em);
            /* changes to 172 at large desktop */
            top: 0;
            right: calc(-48/16 * 1rem);

            &:before {
                /* white border bubble */
                content: "";
                width: calc(622/16 * 1em);
                height: calc(622/16 * 1em);
                background: transparent;
                opacity: 1;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                animation-name: floatAnimation;
                animation-duration: 7s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }

            &:after {
                /* orange bubble */
                content: "";
                width: calc(546/16 * 1em);
                height: calc(546/16 * 1em);
                background: var(--primary);
                opacity: 0.8;
                border-radius: 50%;
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: -1;
                animation-name: floatAnimation2;
                animation-duration: 10s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }
        }

        .cs-bubbles2 {
            width: calc(330/16 * 1rem);
            height: calc(476/16 * 1rem);
            /* removed at larger desktop */
            bottom: calc(-40/16 * 1rem);
            /* changes to 160px at larger desktop */
            left: calc(-48/16 * 1rem);

            &:before {
                /* white border bubble */
                content: "";
                width: calc(330/16 * 1rem);
                height: calc(330/16 * 1rem);
                background: transparent;
                opacity: 1;
                border: 1px solid rgba(0, 0, 0, 0.3);
                border-radius: 50%;
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                animation-name: floatAnimation;
                animation-duration: 5s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }

            &:after {
                /* orange bubble */
                content: "";
                width: calc(260/16 * 1rem);
                height: calc(260/16 * 1rem);
                background: var(--primary);
                opacity: 0.8;
                border-radius: 50%;
                display: block;
                position: absolute;
                top: 0;
                right: calc(40/16 * 1rem);
                z-index: -1;
                animation-name: floatAnimation2;
                animation-duration: 14s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;
            }
        }

    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-1260 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            /* remove the position so the svg waves wrapper can be positioned relative to the section container for tablet so it hugs the right edge of the screen. We set it back to relative at 1024px so it can then be positioned relative to the container again so it hugs the right edge of the container with the pricing cards */
            position: initial;
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: start;
            flex-wrap: nowrap;
        }

        .cs-item {
            width: 50%;
            border-radius: calc(24/16 * 1rem) 0 0 calc(24/16 * 1rem);

            &.cs-popular {
                border-radius: 0 calc(24/16 * 1rem) calc(24/16 * 1rem) 0;

                .cs-picture {
                    color: var(--primaryLight);
                }
            }
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #pricing-1260 {
        .cs-container {
            max-width: calc(1280/16 * 1rem);
            position: relative;
            z-index: 1;
        }

        .cs-waves-wrapper {
            height: 140%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #pricing-1260 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            gap: calc(20/16 * 1rem);
        }

        .cs-card-group {
            width: 62%;
            max-width: calc(740/16 * 1rem);
        }

        .cs-waves-wrapper {
            max-width: calc(740/16 * 1rem);
            width: 100%;
        }
    }
}